!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Author: Jonesad@etsu.edu !
! L.M:	  01/10/21	   !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#define term alacritty
#define mnu rofi
#define bar_width 26

!Gruvbox-Dark
!#define bg #1d2021
!#define normbg #282828
!define bg #32302f
!define fg #ebdbb2
!define black #282828
!define darkgray #928374
!define darkred #cc241d
!define red #fb4934
!define darkgreen #98971a
!define green #b8bb26
!define darkyellow #d79921
!define yellow #fabd2f
!define darkblue #458588
!define blue #83a598
!define darkmagenta  #b16286
!define magenta #d3869b
!define darkcyan  #689d6a
!define cyan #8ec07c
!define lightgray  #a89984
!define white #ebdbb2

!Nord
!define black #3B4252
!define darkred #BF616A
!define darkgreen #A3BE8C
!define darkyellow #EBCB8B
!define darkblue #81A1C1
!define darkmagenta #B48EAD
!define darkcyan #88C0D0 
!define lightgray #E5E9F0
!define darkgray #4C566A
!define red #BF616A
!define green #A3BE8C
!define yellow #EBCB8B
!define blue #81A1C1
!define magenta #B48EAD
!define cyan #8FBCBB
!define white #ECEFF4
!define fg #D8DEE9
!define bg #2E3440

!Dracula
#define fg #F8F8F2
#define bg #282A36
#define black  #000000
#define darkgray     #4D4D4D
#define darkred     #FF5555
#define red     #FF6E67
#define darkgreen    #50FA7B
#define green    #5AF78E
#define darkyellow     #F1FA8C
#define yellow    #F4F99D
#define darkblue     #BD93F9
#define blue    #CAA9FA
#define darkmagenta     #FF79C6
#define magenta    #FF92D0
#define darkcyan     #8BE9FD
#define cyan    #9AEDFE
#define lightgray     #BFBFBF
#define white    #E6E6E6

! dwm
dwm.tag1:		
dwm.tag2:		
dwm.tag3:		
dwm.tag4:		
dwm.tag5:		
!dwm.tag6:		
!dwm.tag7:		
!dwm.tag8:		
!dwm.tag9:		
dwm.normbgcolor: 	bg
dwm.normbordercolor: 	bg
dwm.normfgcolor:	fg
dwm.selbgcolor:		bg
dwm.selbordercolor:	fg
dwm.selfgcolor:		fg
dwm.borderpx:		3
dwm.gappih:		10
dwm.gappiv:		10
dwm.gappoh:		40
dwm.gappov:		160
dwm.user_bh:		bar_width
dwm.swallowfloating:	1
dwm.snap:		1
dwm.showbar:		1
dwm.topbar:		1
dwm.nmaster:		1
dwm.resizehints:	0
dwm.mfact:		.55

! dmenu
dmenu.font:	xft:Ubuntu Nerd Font Complete:size=22

! dunst
dunst.bat.le20:			You Bastard
dunst.bat.le20.charge:		Thank God
dunst.bat.gt20:			Plug me up
dunst.bat.gt20.charge:		You almost made me angry
dunst.bat.gt40:			You should plug me up
dunst.bat.gt40.charge:		I was getting a little worried there
dunst.bat.gt60:			Nice :)	
dunst.bat.gt60.charge:		Nice :)	
dunst.bat.gt80:			Doing great
dunst.bat.gt80.charge:		Redbull gives you wings	
dunst.bat.eq100:		Redbull gives you wings	
dunst.bat.eq100.charge:		Thank you for charging me :)	
dunst.bat.title.normal:		Hmmm...	
dunst.bat.title.concerned:	Yo...
dunst.bat.title.scared:		HELP

! lemonbar
lemon.length: 	1920
lemon.width:	bar_width
lemon.xoffset:	+0
lemon.yoffset:	+0
lemon.opacity:	FF
lemon.font1: Terminus:size=12
lemon.font2: Ubuntu Nerd Font:size=16
lemon.font3: Ubuntu Nerd Font:size=20
lemon.font1.offset: -5
lemon.font2.offset: -2
lemon.font3.offset: 0
bat.discharge.color: red
bat.charge.color: green
bat.num:	5
bat.full:		
bat.half:	
bat.empty:	

! audio
audio.pipe:	/tmp/xobpipe
audio.max:	80
audio.step:	2

! Linking
*.foreground:	fg
*.background:	bg
*.color0:	black	
*.color1:	darkred
*.color2:	darkgreen
*.color3:	darkyellow
*.color4:	darkblue
*.color5:	darkmagenta
*.color6:	darkcyan
*.color7:	lightgray
*.color8:	darkgray
*.color9:	red
*.color10:	green
*.color11:	yellow
*.color12:	blue
*.color13:	magenta
*.color14:	cyan
*.color15:	white
*.terminal:	term
*.menu:		mnu
