!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Author: Jonesad@etsu.edu !
! L.M:	  01/10/21	   !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#define term alacritty
#define mnu dmenu

!Gruvbox-Dark
#define hardbg #1d2021
#define bg #282828
#define softbg #32302f
#define fg #ebdbb2
#define black #282828
#define darkgray #928374
#define darkred #cc241d
#define red #fb4934
#define darkgreen #98971a
#define green #b8bb26
#define darkyellow #d79921
#define yellow #fabd2f
#define darkblue #458588
#define blue #83a598
#define darkmagenta  #b16286
#define magenta #d3869b
#define darkcyan  #689d6a
#define cyan #8ec07c
#define lightgray  #a89984
#define white #ebdbb2

!Nord
!NORD STUFF WILL GO HERE

!Dracula
!DRACULA STUFF WILL GO HERE

! dwm
dwm.tag1:		
dwm.tag2:		
dwm.tag3:		
dwm.tag4:		
dwm.tag5:		
dwm.tag6:		
dwm.tag7:		
dwm.tag8:		
dwm.tag9:		
dwm.normbgcolor: 	bg
dwm.normbordercolor: 	bg
dwm.normfgcolor:	fg
dwm.selbgcolor:		bg
dwm.selbordercolor:	fg
dwm.selfgcolor:		fg
dwm.borderpx:		3
dwm.gappih:		10
dwm.gappiv:		10
dwm.gappoh:		40
dwm.gappov:		120
dwm.user_bh:		32
dwm.swallowfloating:	1
dwm.snap:		1
dwm.showbar:		1
dwm.topbar:		1
dwm.nmaster:		1
dwm.resizehints:	0
dwm.mfact:		.55

! dmenu
dmenu.font:	xft:Ubuntu Nerd Font Complete:size=22

! dunst
dunst.bat.le20:			You Bastard
dunst.bat.le20.charge:		Thank God
dunst.bat.gt20:			Plug me up
dunst.bat.gt20.charge:		You almost made me angry
dunst.bat.gt40:			You should plug me up
dunst.bat.gt40.charge:		I was getting a little worried there
dunst.bat.gt60:			Nice :)	
dunst.bat.gt60.charge:		Nice :)	
dunst.bat.gt80:			I'm doing great	
dunst.bat.gt80.charge:		Redbull gives you wings	
dunst.bat.eq100:		Redbull gives you wings	
dunst.bat.eq100.charge:		Thank you for charging me :)	
dunst.bat.title.normal:		Hmmm...	
dunst.bat.title.concerned:	Yo...
dunst.bar.title.scared:		HELP

! lemonbar
lemon.font1: DejaVu Sans Mono:size=12
lemon.font2: Ubuntu Nerd Font:size=18
lemon.font3: Ubuntu Nerd Font:size=22
lemon.font1.offset: -5
lemon.font2.offset: -2
lemon.font3.offset: 0
bat.discharge.color: red
bat.charge.color: green
bat.num:	5
bat.full:		
bat.half:	
bat.empty:	

! audio
audio.pipe:	/tmp/xobpipe
audio.max:	80
audio.step:	2

! Linking
*.foreground:	fg
*.fg:		fg
*.background:	bg
*.bg:		bg
*.color0:	black	
*.color1:	darkred
*.color2:	darkgreen
*.color3:	darkyellow
*.color4:	darkblue
*.color5:	darkmagenta
*.color6:	darkcyan
*.color7:	lightgray
*.color8:	darkgray
*.color9:	red
*.color10:	green
*.color11:	yellow
*.color12:	blue
*.color13:	magenta
*.color14:	cyan
*.color15:	white
*.terminal:	term
*.menu:		mnu
