######################
#  Name: Austin Jones
#  Date l.m.: 08.19.20
######################
set HOME=/home/jonesad/
set BACKGROUND=$(xgetres a.background)
set FOREGROUND=$(xgetres a.foreground)

#Aliases#
alias mkdir='mkdir -pv'
alias ls='lsd'
alias l='lsd'
alias la='lsd -la'
alias ll='lsd -l'
#alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias c='clear'
alias f='ranger'
alias cd..='cd ..'
alias q='exit'
alias cl='clear && ls'
alias svim='sudo vim'
alias please='sudo'
alias ranger='ranger --choosedir=$HOME/.rangerdir;cd $(cat $HOME/.rangerdir)'
alias xz=". $HOME/.zprofile"
alias bat="echo Percentage: $(cat /sys/class/power_supply/BAT0/capacity);echo Status: $(cat /sys/class/power_supply/BAT0/status)"
alias xs="sudo $HOME/.scripts/fuzzypkg/fuzzypkg"
alias upkg="sudo xbps-query -m > ~/dotfiles/pkglist"
