######################
#  Name: Austin Jones
#  Date l.m.: 08.19.20
######################
set HOME=/home/jonesad/
set BACKGROUND=$(xgetres a.background)
set FOREGROUND=$(xgetres a.foreground)

xs () {
    xpkg -a |
        fzf -m --preview 'xq {1}' \
            --preview-window=right:66%:wrap |
        xargs -ro xi
}

#Aliases#
alias mkdir='mkdir -pv'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alF'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias c='clear'
alias f='ranger'
alias cd..='cd ..'
alias q='exit'
alias cl='clear && ls -CF'
alias svim='sudo vim'
alias please='sudo'
alias ranger='ranger --choosedir=$HOME/.rangerdir;cd $(cat $HOME/.rangerdir)'
alias xz=". $HOME/.zprofile"
